

#drum-machine {
  background: url('https://iili.io/H1labku.jpg') bottom center;
  background-size: cover;
}
#display {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  color: rgb(218, 2, 102);
  
}

#soundname {
  background: rgba(0, 0, 0, 0.641);
  border: .4rem solid  rgb(218, 2, 102);
  border-radius: .5rem;
  justify-content: center;
  padding: 30px;
}

#drum-pads {
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pad {
  border: .4rem solid  rgb(218, 2, 102);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;    padding: 1rem .5rem;
  transition: all 0.5s ease;
  width: 10rem;
  text-align: center;
  color: rgb(218, 2, 102);
  background: rgba(0, 0, 0, 0.641);
  text-shadow: 0 0 .9rem rgba(1, 60, 100, 0.648);
  
}

